* {
    font-size: 14.5px;
    box-sizing: border-box;
}

nav {
    float: right;
}
nav ol {
    width: 100%;
    display: flex;
    right: 0;
}
nav ol li {
    margin: 0 10px;
}
nav ol a{
    text-decoration: none;
    color: black;
}
nav ol a:hover {
    text-decoration: underline;
}
.googleApp:hover {
    background-color: rgb(230, 230, 230, 0.8);
    padding: 10px;
    border-radius: 50%;
}

header {
    clear: both;
    text-align: center;
}
header img {
    margin-top: 130px;
    margin-bottom: 30px;
}

#inputWrapper {
    border: 1px solid lightgrey;
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgb(223, 223, 223), 1px 1px 6px rgb(223, 223, 223);
    margin: auto;
    width: 561px;
    height: 50px;
}
.fa-magnifying-glass {
    padding: 17px;
    width: 35px 40px;
}
#inputWrapper input {
    border: none;
    font-size: 18px;
    padding-top: 14px;
    width: 82%;
}
#inputWrapper input:focus {
    outline: none;
}
.fa-microphone::before {
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin: auto;
    width: 577px;
    height: 288px;
    /* padding: 30px 100px 0 120px; */
    text-align: center;
    
}
.box {
    height: 112px;
    width: 112px;
    /* border: 1px solid blue; */
    margin: 3% auto 0px auto;
    /* margin-bottom: 55px; */
    border-radius: 10px;
}
.box:hover {
    background-color: rgb(132, 132, 132, 0.2);
    cursor: pointer;
}
.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #f1f3f4;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.btn {
    /* border: 1px solid lightgray; */
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);
    width: 175px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}
.btn:hover {
    background-color: #20212419;
    cursor: pointer;
}